body {
    background-image: linear-gradient(to right, rgb(176, 207, 0), rgb(0, 0, 87), rgb(255, 110, 134));
}

main {
    display: flex;
    width: 90vw;
    height: 90vh;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 255, 0.192);
    font-family: Arial, Helvetica, sans-serif;
}

/*=========================================Left Side*/

.left {
    width: 50vw;
    height: 90vh;
    background-image: url('../diversos/imagens/pexels-anni-roenkae-2693212.jpg');
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-size: cover;
    position: relative;
    padding: 20px;
    animation: trocaimagens 10s infinite ease-in-out;
    transition: 600ms;
}
 
@keyframes trocaimagens {

    0% {
        background-image: url('../diversos/imagens/imagem2.jpg');
    }
    50% {
        background-image: url('../diversos/imagens/imagem3.jpg');
    }
    100% {
        background-image: url('../diversos/imagens/pexels-anni-roenkae-2693212.jpg');
    }
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Right Side*/

.right {
    width: 50vw;
    height: 90vh;
    align-items: center;
    position: relative;
}

.right h1, p {
    text-align: center;
    color: white;
}

.right form {
    display: flex;
    flex-flow: column;
    margin-top: 0px;
    width: 35vw;
    margin: auto;
}

.right #content {
    position: relative;
    top: 40px;
    margin: auto;
    padding: 10px;
}

.right #icone {
    width: 90px;
    height: 90px;
    background-color: red;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 40px;
    animation: icone 20s infinite ease-in-out;
}

@keyframes icone {
    0% {
        background-color: rgba(0, 0, 255, 0.192);
    }

    50% {
        background-color: green;
    }
    100% {
        background-color: red;
    }
}

.right form input {
    padding: 10px;
    border-radius: 4px;
    border: 2px solid #0000009a;
}

.right form label {
    margin-top: 20px;
    font-size: 0.8em;
    font-weight: 600;
    color: white;
}

.right form .buttons button {
    width: 100%;
    border-style: none;
    border-radius: 4px;
    padding: 7px;
    margin-top: 8px;
    cursor: pointer;
}

.right form .buttons button:first-child {
    background-color: blue;
    color: white;
}

.right form .buttons button:last-child {
    display: flexbox;
    align-items: center;
    justify-content: space-between;
}

.right form .buttons button:last-child img {
    width: 15px;
    height: 15px;
}

.right .alternative {
    left: calc(50% - 230px/2);
    position: absolute;
    bottom: 30px;
    align-items: center;
    margin: auto;
}

.right p strong:hover {
    color: rgba(255, 255, 255, 0.877);
    cursor: pointer;
}

@media screen and (max-width: 630px) {
    
    .right {
        position: absolute;
        z-index: 30;
    }

    .right, .left {
        width: 100%;
        height: 100vh;
        border-radius: 0px;
    }

    .right form {
        width: 55vw;
    }

    main {
        margin: 0px;
        width: 100vw;
        height: 100vh;
    }
}